.card {
  @media all and (max-width: $breakpoint-mobile) {
    p,
    img {
      margin-left: 2rem;
    }
  }
  figcaption {
    color: rgb(35, 26, 29);
    background-color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    @media all and (max-width: $breakpoint-mobile) {
      color: white;
      background-color: $dark-gray;
      mix-blend-mode: normal;
    }
  }
}
