#who {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 900px;
    height: 473px;
    top: 0;
    left: 0;
    opacity: 0.5;
    //background: url("../../assets/white-smoke-background.png") no-repeat top left;
  }

  h2 {
    text-shadow: 0 0 20px white;
  }

  .bs_one {
    padding: 0 50px;
  }
}
